<nz-layout class="app-layout">
  <nz-sider class="app-sider" nzCollapsible [(nzCollapsed)]="collapsed" [nzWidth]="248" nzTheme="light">
    <div class="logo">
      <span class="logo__badge">DI</span>
      <span class="logo__text">Dev Internals</span>
    </div>
    <ul nz-menu class="app-menu" nzMode="inline" nzTheme="light" [nzInlineCollapsed]="collapsed">
      <li
        nz-submenu
        *ngFor="let section of menuSections"
        class="app-menu__section"
        [nzTitle]="section.title"
        [nzIcon]="section.icon"
        [nzOpen]="!!section.open"
      >
        <ul>
          <li
            nz-submenu
            *ngFor="let group of section.groups"
            class="app-menu__group"
            [nzTitle]="group.title"
            [nzIcon]="group.icon"
            [nzOpen]="!!group.open"
            [nzDisabled]="!!group.disabled"
          >
            <ul>
              <li
                nz-menu-item
                *ngFor="let item of group.items"
                [nzDisabled]="!item.link"
                [routerLink]="item.link"
                routerLinkActive="ant-menu-item-selected"
              >
                {{ item.label }}
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="app-header">Dev Internals Docs</nz-header>
    <nz-content class="app-content" #appContent (scroll)="onContentScroll($event)">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>

<button
  type="button"
  class="back-to-top"
  [class.visible]="showBackToTop"
  (click)="scrollToTop()"
  aria-label="Lên đầu trang"
>
  <svg viewBox="0 0 24 24" width="20" height="20" fill="currentColor">
    <path d="M12 5l-7 7h4v7h6v-7h4z" />
  </svg>
</button>
